.shorted-links {
  width: 70%;
  height: 6rem;

  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 3rem;
  margin: 3rem 0;

  border-radius: 0.5rem;
}

.shorted-links div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.shorted-links span {
  font-weight: 500;
}

.shorted-links div span:last-child {
  color: #2acfcf;
}

.button-copy {
  border-radius: 0.5rem;

  cursor: pointer;

  font-weight: 700;

  color: #fff;
  height: 3.5rem;
  width: 10rem;

  border: none;
  background-color: #2acfcf;
}

.copied {
  background-color: hsl(257, 27%, 26%);
}

@media (max-width: 878px) {
  .shorted-links, .shorted-links div {

    gap: 1rem;

    flex-direction: column;
  }

  .shorted-links {
    height: 15rem;
  
    justify-content: center;
  
    gap: 3rem;
  }

  .button-copy {
    width: 100%;
  }

}