.shortner-section {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 1rem;

  margin-top: -6rem;
  margin-bottom: 2rem;
  padding: 2rem;

  gap: 2rem;

  width: 70%;
  height: 12rem;

  background-color: #3b3054;
  background-image: url("../../assets/bg-shorten-desktop.svg");
  background-size: cover;
  background-position: center;
}

.shortner-section div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 60%;

  gap: 0.5rem;
}

.input-shortner,
.btn-shortner,
.shortner-section {
  border-radius: 1rem;
}

.input-shortner,
.btn-shortner {
  height: 5rem;
  border: none;

  font-size: 1.8rem;
}

.input-shortner {
  width: 100%;

  padding: 1rem 1.5rem;

  font-weight: 500;
}

.btn-shortner {
  width: 15rem;

  color: #fff;

  font-weight: 700;

  background-color: var(--btn-bg-color-hover);
}

.error-alert {
  border: 3px solid #f46262;
}

.error-message {
  color: #f46262;
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 700;

  align-self: start;
}

@media (max-width: 991.98px) {
  .input-shortner,
  .btn-shortner {
    font-size: 1.5rem;
  }

  .input-shortner {
    width: 40%;
  }
}

@media (max-width: 575.98px) {
  .shortner-section {
    height: 20rem;

    flex-direction: column;
    background-image: url("../../assets/bg-shorten-mobile.svg");
  }

  .input-shortner,
  .btn-shortner {
    width: 80%;
  }
}
