.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
  min-width: 100%;
}

.bottom-section {
  width: 100%;
}

@media (max-width: 540px) {
  .main {
    width: 100%;
    justify-content: space-around;
  }  
}