.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
  min-width: 100%;
}

.bottom-section {
  width: 100%;
}

.gray-section {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #d2d1d188;
}

@media (max-width: 540px) {
  .main {
    justify-content: space-around;
  }  
}